.idea

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.env
/client/.env.*.local
/client/dist
/client/node_modules

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/.env
/server/node_modules
