<p>New contact request received from simonisler.ch! 😎</p>
<hr>
<p>Selected option: {{ option }}</p>
<ul>
    <li>Name: {{ name }}</li>
    <li>Email: {{ email }} </li>
    <li>Description: {{ description }} </li>
</ul>

